<app-top></app-top>
<hr>
<div class="category">
    <div class="dashboards">
        <div class="card" *ngFor="let race of races">
            <div class="name">
                <span class="card-title">{{race.title}}</span>
            </div>
            <div (click) = "cardClicked(race)" class="content" fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="start">
                <div fxFlex="30%">
                    <img class="img" src="../../assets/horseRace_3.jpg"/>
                </div>
                <div fxFlex="70%">
                    <div class="description">{{race.description}}<br>
                        <div class = "date-time">
                            Start Date: {{race.date}} and Time: {{race.time}}
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
