.category {
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: Roboto; 
}

.top {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    background-color: #f3f3f3;  
}

.card {
    position: relative;
    height: 150px;
    width: 25%;
    border: 1px solid #bdbdbd;
    background-color: #fff;
    margin: 10px;
    margin-bottom: 28px;
    border-radius: 10px 10px 0px 0px;      
}


.content {
    display: flex;
    justify-content: space-around;
    align-items: center !important;
    padding: 0px 0px 25px 13px;
    height: 100%;
    max-height: 93%;    
}

.win_by_loss {
    font-family: Roboto;
    font-size: 16px;
    letter-spacing: 0.25px;
    line-height: 20px;
}

.img
    {
        height: 7em;
        border-radius: 10px;
        margin-bottom: 3%;
    }
    
.title {
    font-family: Roboto;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;
    font-weight: bold;
}
