.nav-margin{
    margin-left: 2em;
    margin-right:2em;
    padding: 0.5em;
}
.cursor-element {
    cursor: pointer;
 }
.nav {
    background-color: black;
    color: white;
    border-radius: 9px;
}